.head {
	width: 100%;
	height: 300px;
	background-image: url("../img/first.jpg");
	background-position: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    color: #000;
    background-color: #ffcc99;

}
li {
    float: right;
}
li a {
    display: block;
    color: #808080;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}
li a:hover {
    background-color: #66ffff;
    text-decoration:underline;
    transition: 2s;
    font-size: 1.5625em;
}
.active {
	background-color: #66ffff;
    
    
}

.p1 {
	font-size: 2.5em;
	color: #003366;
	text-align: center;
}

.container {
    position: relative;
    text-align: center;
    color: #000;
}

.centered {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);

}


.ft { font-size: 1.25em;
    text-align: center;
}

.bak{
    background-image: url("../img/back.jpg");
    height: 840px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}
.t1 {
    width: 280px;
    word-break: keep-all;
    }
.m1 {
    text-align: center;
}
.bak2{
    background-image: url("../img/back2back.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}
.ff{
    font-size: 2.5em;
}
.ss{
    font-size: 1.25em;
    padding: 10px;

}
.rr{
    font-size: 1.25em;
    padding: 7px;
}
.u2{
    font-size: 2.5em;
    text-indent: 50px;
    text-align: center;
    padding: 50px;
    color:#fff
}
.u3{
    text-indent: 50px;
    font-size: 1.5625em;
    text-align: center;
    color:#ffcccc;
}
.ab4{
    padding: 40px;
    color: black;
}
.ab{
    background-image: url("../img/w2.jpeg")
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}
.bak5 .col-12{
    background-image: url("../img/back.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}
h1 {
    background-color: #ffe6b3
}
.mt {
    color: white;
    font-size: 1.28em;
    text-align: center;
}
.all{
    text-align: justify;
    font-size: 1.25em;
}
.bak8 #f{
    background-image: url("../img/others.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  
}
#fam img{
    width: 100%;
    border-radius: 40px;
}
.he {
    font-size: 5em;
    text-align: top;
    padding: 10px;
}
.desc1{
    float: left;
}
div.gallery:hover {
     border: 1px solid #000;

}
div.desc1 {
     padding: 15px;
     text-align: center;